<div>
    <div class="d-flex flex flex-row flex-cross-center">
        <input type="text" class="search-bar-new" placeholder="Search for ..." aria-label="Search" aria-describedby="button-addon2" id="searchBar">
        <button class="search-btn" type="button" id="button-addon2"><img src="/img/search-icon.svg" /></button>
        <script>
            search("<%=type%>");
        </script>
    </div>
</div>
