
<!-- Change to actual button -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addUser">
	Add User
</button>

<!-- Modal -->
<div class="modal fade" id="addUser" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="addUserModalLabel">Add User</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>

			<form id = "addUserForm" class = "needs-validation" name = "addUserForm" method = "POST" action = "/" novalidate>
				<div class="modal-body">
					<div class = "mb-3">
						<label for="userTypeSelect" class="form-label">User Type</label>
						<select class="form-select" name = "userType" id = "userTypeSelect" aria-label="Select User Type" autocomplete="off" required>
							<option selected disabled hidden value = "">Select User Type</option>

							<% if (authority === "Admin") {%>
								<option value="SEDO">SEDO</option>
							<% } %>
						
							<option value="Treasurer">Treasurer</option>

						</select>
						<div class="invalid-feedback">
							Please select a user type.
						</div>					  
					</div>
					<div id = "addUserFormDiv">
						<%- include('popupFields/addUserFormFields.ejs'), {authority} %>
					</div>
				</div>
				<div class="modal-footer">
					<button type="reset" class="btn btn-danger">Reset</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
			</form>

		</div>
	</div>
</div>