<form action="/uploadUsers" method="post" enctype="multipart/form-data" class="register-container w-full">
	<h4>Account Registration</h4><hr>
	<div class="edit-container flex flex-column" style="gap: 1em">
		<h4>Upload Excel File</h4>
		<label for="fileUpload" style="gap: 0.25em;" class="upload-container flex flex-column">
			<input type="file" name="file" id="fileUpload" class="hidden-file-input">
			<img src="/img/upload.svg" />
			Drag & drop a file to upload
			<div id="fileName"></div>
			<label for="fileUpload" class="btn btn-upload-files" style="width: fit-content" type="button">Upload Files</label>
		</label>
		<button class="btn btn-primary" style="width: fit-content; align-self: center">Register Accounts</button>
	</div>
</form>

<script>
	document.querySelector('#fileUpload').onchange = function(p) {
		document.querySelector('#fileName').innerText = this.files[0].name
	}
</script>
