<div class="mt-4">
    <ul class="nav nav-tabs" role="tablist" aria-label="Basic radio toggle button group">
        <li class="nav-item">
            <input type="radio" class="nav-link btn-check" name="btnradio" id="profileDisplay" onclick="displayContent('profile')" checked>
            <label class="nav-link active" for="profileDisplay">Profile</label>
        </li>
        <li class="nav-item">
            <input type="radio" class="nav-link btn-check" name="btnradio" id="kabanDisplay" onclick="displayContent('kaban')">
            <label class="nav-link" for="kabanDisplay">Kaban</label>
        </li>
        
        <!-- Hannah: Loan Button -->
        <!-- <input type="radio" class="btn-check" name="btnradio" id="loanDisplay" onclick="displayContent('loan')" autocomplete="off">
        <label class="btn btn-outline-secondary" for="kabanDisplay">Loan</label> -->
    </ul>

    <div id="containerDisplay">                    
        <div class="content" id="profileContent">
            <%- include('memberProfile/profileDisplay.ejs') %>
        </div>
        <div class="content" id="editContent">
            <%- include('memberProfile/editDisplay.ejs', {authority: authority}) %>
        </div>
        <div class="content" id="kabanContent">
            <%- include('memberProfile/kabanDisplay.ejs') %>
        </div>
        <!-- Hannah: No loanDisplay.ejs yet -->
        <!-- <div class="content" id="loanContent">
            < %- include('memberProfile/loanDisplay.ejs') %>
        </div> -->
    </div>
</div>