<div class="register-container">
    <div class="edit-container">
        <h4>Account Registration</h4><hr>
        <div class="row">
            <div class="col-md-6" id="inputContainer">
                <div class="p-2">
                    <div class="row mb-2">
                        <div class="col-md-6">
                            <span>First Name</span>
                            <input type="text" class="form-control" value="">
                        </div>
                        <div class="col">
                            <span>Last Name</span>
                            <input type="text" class="form-control" value="">
                        </div>
                    </div>
                    <div class="mb-2">
                        <span>Username</span>
                        <input type="text" class="form-control" value="">
                    </div>
                    <div class="mb-2">
                        <span>Password</span>
                        <input type="password" id="newPass" class="form-control" required onkeyup="validatePassword()">
                    </div>
                    <div class="mb-2">
                        <span>Confirm Password</span>
                        <input type="password" id="confirmPass" class="form-control" required onkeyup="validatePassword()">
                    </div>
                    <span id="matchingAlert2"></span>
                </div>
            </div>

            <div class="col-md-6" id="inputContainer">
                <div class="p-2">
                    <div class="mb-2">
                        <span>Account Type</span>
                        <div>
                            <select class="custom-select form-select">
                                <option selected>Choose...</option>
                                <option value="1">Admin</option>
                                <option value="2">SEDO</option>
                                <option value="3">Treasurer</option>
                            </select>
                        </div>
                    </div>

                    <% const cluster = ["Cluster 1", "Cluster 2"] %>
                    <% const spu = ["SPU 1", "SPU 2"] %>
                    <% const shg = ["SHG 1", "SHG 2"] %>

                    <!-- TBD: Remove textbox based on authority -->
                    <div class="mb-2">
                        <span>Cluster</span>
                        <div>
                            <select class="custom-select form-select">
                                <option selected>Choose...</option>
                                <% for (var i = 0; i < cluster.length; i++) { %>
                                    <option value="i"><%- cluster[i] %></option>
                                <% } %>
                            </select>
                        </div>
                    </div>

                    <div class="mb-2">
                        <span>Sub-Project Unit</span>
                        <div>
                            <select class="custom-select form-select">
                                <option selected>Choose...</option>
                                <% for (var i = 0; i < spu.length; i++) { %>
                                    <option value="i"><%- spu[i] %></option>
                                <% } %>
                            </select>
                        </div>
                    </div>

                    <div class="mb-2">
                        <span>Self-Help Group</span>
                        <div>
                            <select class="custom-select form-select">
                                <option selected>Choose...</option>
                                <% for (var i = 0; i < shg.length; i++) { %>
                                    <option value="i"><%- shg[i] %></option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center button-gap mt-4">
            <button class="btn btn-secondary ml-2" onclick="cancelChanges()">Cancel</button>
            <button class="btn btn-primary" id="saveChanges" data-bs-toggle="modal" data-bs-target="#saveModal">Save Changes</button>
        </div>
    </div>
</div>