<!DOCTYPE html>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="../js/dashboard.js"></script>
        <script>
            authCheck(" <%=authority%> ")
        </script>
    </head>
    <body>
        <div id="logout">Logout</div>
    </body>
</html>
