.cluster-overview-title {
    text-align: center;
    font-size: 24pt;
}

.cluster-overview-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 160px;
    border-radius: 16px;
    width: 100%;
}

.cluster-overview-number {
    font-size: 30px;
}

.cluster-ovverview-label {
    font-weight: 200;
    font-size: 16px;
}

.cluster-overview-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
}

.cluster-overview-container-card {
    background: white !important;
}

.cluster-overview-card.red {
    background-color: #FD345121;
}

.cluster-overview-card.green {
    background-color: #52ECB721;
}

.cluster-overview-card.yellow {
    background-color: #E0A73821;
}

.cluster-overview-card.blue {
    background-color: #15D0FA21;
}

.cluster-search-card {
    border-radius: 16px;
    background: white;
    filter: drop-shadow(#00000040 4px 4px 4px);
}
