/* --------------- DASHBOARD PAGE --------------- */
.dashboard-stats {
    display: flex;
    gap: 0.5rem;
}

.dashboard-actions {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(3, 1fr);
}

.dashboard-actions .container {
    background-color: white;
    border: solid 1px var(--border-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.dashboard-actions .container:hover {
    background-color: var(--tertiary-color);
}

.dashboard-actions .container i {
    margin-right: 1rem;
    padding: 0.5rem;
    font-size: 2rem;
    color: var(--secondary-color);
    background-color: var(--tertiary-color);
    border-radius: 50%;
}

.dashboard-actions .container span {
    font-size: 0.8rem;
    font-weight: 600;
}

.dashboard-stats .col .row {
    gap: 0.5rem;
}

.dashboard-stats .container div {
    margin-bottom: 0.5rem;
}

.dashboard-stats .container {
    background-color: white;
    border: solid 1px var(--border-color);
    border-radius: 10px;
    padding: 1rem;
    filter: drop-shadow(#00000040 4px 4px 4px);
}


.dashboard-stats .chart-container {
    border-top: #3FACFB solid 4px;
    text-align: center;
}

.dashboard-org-struct-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.dashboard-btn {
    border-radius: 8ot;
    padding: 0.25rem 1rem;
    width: fit-content;
}

.dashboard-org-structure {
    background: linear-gradient(-0.16turn, #3B82F6, #529AB2);
    min-width: 60%;
    max-width: 100% !important;
    color: white !important;
}

.dashboard-card {
    filter: drop-shadow(#00000040 4px 4px 4px);
    border-radius: 10px;
    border-top: #3FACFB solid 4px;
    background: white;
    padding: 1em;
}

#myChart {
    min-width: 100%;
    height: auto;
}
