/* --------------- LANDING PAGE --------------- */
html, body {
    height: 100%;
}

.landing-bg {
    background-image: radial-gradient(rgb(154, 225, 238), white);
}

.landing-bg .container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card { 
    border: none;
    padding: 3rem 1rem;
    box-shadow: 0 4px 8px 0 rgba(94, 105, 157, 0.2), 0 4px 8px 0 rgba(94, 105, 157, 0.2);
}

.form-group {
    margin-bottom: 1rem;
}

.btn.default-btn {
    background-color: rgb(12,192,223);
    border-color: rgb(12,192,223);
}

.btn.default-btn:hover {
    background-color: rgb(0,151,178);
    border-color: rgb(0,151,178);
}

.fine-print {
    font-size: 0.8rem;
}

/* --------------- DASHBOARD PAGE --------------- */