/* --------------- REUSABLE STYLES --------------- */
/*@import url('https://fonts.googleapis.com/css?family=Montserrat Alternates');*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700');

:root {
    --border-color: #dee2e6;
    --primary-color: #47EBB3;
    --secondary-color: #0077B8;
    --tertiary-color: #ADE2FF;
    --text-color: #2E4057;
    --red-color: #DC3545;
    --warning-color: #FFFFC0;
    --translucent-tertiary-color: rgba(173, 226, 255, 0.5);
    --bs-body-font-family: 'Poppins';
    --btn-grad: linear-gradient(to right, #166FFF, #5401F0);
    --table-header-color: linear-gradient(to right, #166FFF, #5401F0);
}

html {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100%;
}

select {
    background-color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
}

.body-bg {
    background: linear-gradient(to bottom, #FFFFFF, #CFF7FF);
}

.no-padding {
    padding: 0 !important;
}

.currSign:before {
    content: '₱ ';
}

.btn {
    border-radius: 16pt;
    padding: 8pt 16pt;
}

.label-dot {
    width: 16pt;
    height: 16pt;
    border-radius: 50%;
}

.label-dot-red {
    background: #FD3451;
}

.label-dot-yellow {
    background: #E0A738;
}

.label-dot-green {
    background: #68BC69;
}

.label-dot-darkblue {
    background: #031366;
}

.label-dot-brown {
    background: #4A301D;
}

.label-dot-turquoise {
    background: #47EBB3;
}

/* CHANGE BUTTON COLOUR */
.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: black;

}

.btn-primary:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.btn-cancel {
    background-color: #A9A9A9;
    border-color: #A9A9A9;
    color: black;
}

.btn-cancel:hover {
    background-color: #909090;
    border-color: #909090;
}

/* CHANGE PAGINATION COLOUR */

.pagination>li>a {
    color: var(--secondary-color);
}

.pagination>li.active>a {
    background-color: var(--secondary-color);
    border: solid 1px var(--secondary-color);
}

/* CHANGE TOAST COLOUR */
.bg-primary {
    background-color: var(--primary-color) !important;
}

.toast {
    margin-top: 4.2rem;
}

/* CHANGE BREADCRUMB STYLE */
.breadcrumb-item a {
    color: var(--text-color);
    text-decoration: none;
}

.breadcrumb-item a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}

/* CHANGE NAV-LINK DESIGN */
.nav-tabs .nav-link {
    color: var(--text-color) !important;
    border: 1px solid var(--border-color) !important;
    border-bottom: none !important;
}

.nav-tabs .nav-link:not(.active) {
    background-color: whitesmoke;
}

.nav-tabs .nav-link:not(.active):hover {
    cursor: pointer;
    background-color: var(--border-color);
}


/* SIDEBAR */
.sidebar {
    position: fixed;
    width: 14rem;
    height: 100vh;
    top: 0;
    left: 0;
    background: white;
    justify-content: space-between;
    overflow-x: hidden;
    padding: 0.5rem !important;
    border-right: 1px solid var(--border-color);
}

.sidebar .image-text img {
    width: 2rem;
    margin: 0.75rem;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.sidebar .text {
    font-size: 1rem;
    font-weight: 600;
    margin-left: 0.5rem;
    font-family: 'Poppins';
}


.sidebar a {
    color: var(--text-color);
}

.sidebar a:hover {
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--tertiary-color);
}

.sidebar .icon {
    font-size: 1.5rem;
}

.sidebar .menu-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0;
}

/* TOP NAVIGATION BAR */
.top-bar-container {
    position: sticky;
    width: calc(100%);
    height: 4rem;
    padding: 1rem;
    margin-bottom: 1rem;
    top: 0;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
    background-color: rgb(255, 255, 255);
    border-left: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-radius: 2rem;
    padding: 0rem 1rem;
    filter: drop-shadow(0rem 0.25rem 0.1rem #595C5F);
}

.top-bar .toggle {
    font-size: 1.75rem;
    color: var(--text-color);
    padding: 0.25rem;
}

.top-bar .toggle:hover {
    cursor: pointer;
    background-color: var(--tertiary-color);
    border-radius: 5px;
}

.top-bar .profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
}

.top-bar .profile span {
    font-size: 1rem;
    text-overflow: ellipsis;
}

.top-bar .logo {
    display: none;
}

.top-bar .logo img {
    width: 2rem;
}

.top-bar .logo span {
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Poppins';
    white-space: nowrap;
    overflow: hidden;
}

/* --------------- CONTENT --------------- */
/* SEARCH */
.input-group-text {
    background-color: var(--secondary-color);
    color: white;
    border: none;
}

/* MAIN */
main {
    margin-left: 14rem;
    padding: 0;
    min-height: 100%;
}

.button-gap {
    gap: 1rem;
}


.container-profile {
    background-color: white;
    padding: 2rem;
}

.container-profile img {
    margin-right: 1rem;
}


.card-actions {
    border-radius: 16px;
    background: white;
    filter: drop-shadow(#00000040 4px 4px 4px);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* --------------- TITLE --------------- */
.categories span {
    background-color: lightgray;
    padding: 0.2rem 0.3rem;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    font-size: small;
    font-weight: 500;
}

/* MODALS */
.modal-buttons {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.modal-buttons button {
    width: 10rem;
}

.modal-body i {
    font-size: 4rem;
}

#logout-i {
    color: black;
}

#save-i {
    color: green;
}

#delete-i {
    color: var(--red-color);
}

/* MOBILE */
@media (max-width: 768px) {
    #collapsibleNavbar {
        overflow-x: hidden;
        display: none;
    }

    .menu {
        padding-top: 4rem;
    }

    .menu-bar {
        padding: 4rem 0;
    }

    .sidebar a {
        margin: 0 2rem;
    }

    .sidebar header {
        display: none;
    }

    .top-bar {
        padding-right: 1rem;
    }

    .top-bar .logo {
        display: block;
    }

    .top-bar #topbar-name {
        display: none;
    }

    .member-total {
        flex-direction: column;
    }

    main {
        margin-left: 0;
        width: 100%;
    }
}

.section-card {
    filter: drop-shadow(#00000040 4px 4px 4px);
    border-radius: 29pt;
    background: linear-gradient(to right, #FFFFFF, #FFE2E2);
    border-top: #3FACFB solid 4px;

    padding: 1em;
}

.left-card {
    filter: drop-shadow(#00000040 4px 4px 4px);
    border-radius: 16pt;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    padding: 2rem 1rem;
}

.left-card-red {
    border-left: #FD3451 solid 6px;
}

.left-card-brown {
    border-left: #4A301D solid 6px;
}

.left-card-green {
    border-left: #68BC69 solid 6px;
}

.left-card-blue {
    border-left: #031366 solid 6px;
}

.left-card-plainblue {
    border-left: #004FE1 solid 6px;
}

.left-card-yellow {
    border-left: #E0A737 solid 6px;
}

.left-card-turquoise {
    border-left: #47EBB3 solid 6px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

h3.page-title,
h4.page-title {
    border-left: 4px solid black;
    padding: 0.5rem 4px;
}

.container {
    filter: drop-shadow(#00000040 4px 4px 4px);
}

.register-card {
    background: linear-gradient(to bottom, #FFFFFF, #C9D7FF);
}

.search-bar-new {
    border-radius: 16px;
    padding-left: 1rem;
    height: 32px;
    letter-spacing: 0.25rem;
}

.search-btn {
    background: linear-gradient(to bottom, #68BC69, #25F827);
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.search-btn img {
    width: 32px;
    height: 32px;
}

.btn-search-bar {
    border-radius: 8px;
    padding: 0.5rem 1rem;
    letter-spacing: 0.25rem;
}

.btn-red {
    background: linear-gradient(to bottom, #E84848, #F37676);
}

.btn-yellow {
    background: linear-gradient(to bottom, #FD9416, #E3A75F);
}

.savings-card {
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #71F7C961;
    width: 100%;
    padding: 2rem;
    margin-bottom: 1rem;
}

.mini-button {
    border-radius: 12px;
    height: 24px;
    color: white;
    border: none;
    padding: 3px;
    width: 100%;
    font-size: 0.75rem;
    font-weight: bold;
    letter-spacing: 4px;
}

.mini-button.blue {
    background: linear-gradient(to bottom, #031366, #0626CC);
}

.mini-button.yellow {
    background: linear-gradient(to bottom, #E0A738, #F2C875);
}

.mini-button.red {
    background: linear-gradient(to bottom, #FD3451, #F86F83);
}

/* OTHER UTILITY CLASSES */

.flex {
    display: flex;
}

.flex-main-center {
    justify-content: center;
}

.flex-cross-bottom {
    align-items: flex-end;
}

.flex-cross-center {
    align-items: center;
}


.flex-center {
    align-items: center;
    justify-content: center;
}

.gap-2 {
    gap: 0.5em;
    /* Tailwind style */
}

.gap-4 {
    gap: 1em;
}

.gap-16 {
    gap: 4em;
}

.w-full {
    width: 100%;
}

.ml-auto {
    margin-left: auto;
}

.grid {
    display: grid;
    gap: 1em;
}

.grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
}

.bg-warning {
    background-color: var(--warning-color);
}

.mb-4 {
    margin-bottom: 1rem;
}

/* REDESIGN*/
.login-btn {
    color: white;
    background: var(--btn-grad) !important;
}

.login-btn:hover {
    color: white;
    background: var(--btn-grad) !important;
}

.btn-primary {
    color: white;
    background: var(--btn-grad) !important;
}

.btn-primary:hover {
    color: white;
    background: var(--btn-grad) !important;
}
