table {
    border-radius: 8px;
    overflow: hidden;
}

.table th {
    background-color: var(--secondary-color);
    color: white;
    font-weight: 500;
}

.input-group-text {
    background-color: var(--secondary-color);
    color: white;
    border: none;
}