.box-container {
    display: flex;
    flex-flow: column;
    min-height: 100%;
    padding: 1rem;
    position: relative;
}

.box-container h5 {
    position: absolute;
    z-index: 1;
    color: white;
    font-weight: bold;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

.bg-top {
    background: url('/img/profile_bg.png');
    opacity: 0.8;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--primary-color);
    /* Fallback color */
    border-radius: 10px 10px 0 0;
    min-height: 150px;
    height: 30vh;
    display: table-row;
    z-index: 0;
}

.bg-bottom {
    background-color: white;
    border-radius: 0 0 10px 10px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 300px;
    border: 1px solid var(--border-color);
}

.bg-bottom img {
    margin-top: -100px;
    border: 5px solid white;
    z-index: 1;
}

.edit-container {
    background-color: white;
    flex-grow: 1;
    min-height: 100%;
    padding: 1.5rem;
    border-radius: 10px;
    border: 1px solid var(--border-color);
}

.edit-title {
    background-color: aliceblue;
    padding: 0.5rem;
}

/* Change Profile Picture */
.change-profile {
    position: relative;
}

.middle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--translucent-tertiary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    text-align: center;
}

.middle i {
    font-size: 2rem;
}

.change-profile:hover .middle {
    opacity: 0.8;
    background-color: var(--secondary-color);
    color: white;
    cursor: pointer;
}

/* ACCOUNT REGISTRATION */
.register-container {
    background-color: var(--translucent-tertiary-color);
    min-height: 100%;
    padding: 1.5rem;
}

.upload-container {
    /* TODO: update to use the new design language */
    /*background: linear-gradient(#BABABA, #B99090);*/
    background-color: #6f8fdf;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    padding: 2em;

    position: relative;
}

.btn-upload-files {
    background-color: lightgray !important;
    border-color: lightgray !important;
}

.btn-upload-files:hover {
    background-color: dimgray !important;
    border-color: dimgray !important;
}

.hidden-file-input {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
}

.big-summary-text {
    font-size: 2em;
    font-weight: bold;
    color: var(--primary-color);
}

.big-summary-hr {
    border-width: 1em;
    color: blue;
    border-radius: 1em;
}
