.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 320px;
    background: linear-gradient(to right, #5E89FF, #4800A6);
    font-size: 32px;
    color: white;
    gap: 2rem;
}

.heading-circle {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 96px;
    height: 96px;
    border-radius: 50%;
    color: #5137CA;
    background: #D9D9D9;
}

.centered-number {
    display: flex;
    flex-direction: flex-column;
    justify-content: center;
    align-items: center;
    font-weight: 1000;
    font-size: 32px;
    gap: 1rem;
}

.centered-number-label {
    font-weight: 100 !important;
    color: #595C5F;
}

.centered-number-green {
    color: #0C8E00;
}

.centered-number-red {
    color: #B90000;
}

.centered-number-plainblue {
    color: #004FE1;
}

.summary-container {
    padding: 2rem;
}

.summary {
    width: 100%;

    font-size: 24pt;
}

.summary-heading {
    font-size: 40pt;
    font-weight: 900;
}

.summary-data {
    text-align: right;
}
