<div class = "mb-3">
    <label for="clusterName" class="form-label">Cluster Name</label>
    <input class="form-control" id = "clusterName" name = "clusterName" type="text" placeholder="Nine-Nine" aria-describedby="ClusterName" required>
    <div class="invalid-feedback">
        Please enter a cluster name.
    </div>  
</div>
