<%- include('clusterSelect.ejs'), {authority} %>
<%- include('projectSelect.ejs'), {authority} %>

<div class = "mb-3">
    <label for="SHGName" class="form-label">Self Help Group Name</label>
    <input class="form-control" id = "SHGName" name = "SHGName" type="text" placeholder="High Cloud Quintet" aria-describedby="SHGName" required>
</div>
<div class = "mb-3">
    <label for="SHGLeaderName" class="form-label">SHG Leader Name</label>
    <div class = "input-group">
        <input class="form-control" id = "SHGLeaderName" name = "SHGLeaderName" type="text" placeholder="Jingliu" aria-describedby="SHGLeaderName" required>
        <span class = "input-group-text">Phone Number</span>
        <input class="form-control" id = "SHGLeaderPhone" name = "SHGLeaderPhone" type="tel" pattern = "[0-9]{11}" aria-describedby="SHGLeaderPhoneNumber">
        <div class="invalid-feedback">
            SHG Leader name required.
        </div>
    </div>
</div>
<div class = "mb-3">
    <label for="SEDPChairName" class="form-label">SEDP Chairman Name</label>
    <div class = "input-group">
        <input class="form-control" id = "SEDPChairName" name = "SEDPChairName" type="text" placeholder="Jing Yuan" aria-describedby="SEDPChairName" required>
        <span class = "input-group-text">Phone Number</span>
        <input class="form-control" id = "SEDPChairPhone" name = "SEDPChairPhone" type="tel" pattern = "[0-9]{11}" aria-describedby="SEDPChairPhoneNumber">
        <div class="invalid-feedback">
            SEDP Chairman name required.
        </div>
    </div>
</div>
<div class = "mb-3">
    <label for="KabanTreasurer" class="form-label">Kaban Treasurer Name</label>
    <div class = "input-group">
        <input class="form-control" id = "KabanTreasurer" name = "KabanTreasurer" type="text" placeholder="Baiheng" aria-describedby="KabanTreasurer" required>
        <span class = "input-group-text">Phone Number</span>
        <input class="form-control" id = "KabanTreasurerPhone" name = "KabanTreasurerPhone" type="tel" pattern = "[0-9]{11}" aria-describedby="KabanTreasurerPhoneNumber">
        <div class="invalid-feedback">
            Kaban Treasurer name required.
        </div>  
    </div>
</div>
<div class = "mb-3">
    <label for="KabanAuditor" class="form-label">Kaban Auditor Name</label>
    <div class = "input-group">
        <input class="form-control" id = "KabanAuditor" name = "KabanAuditor" type="text" placeholder="Yingxing" aria-describedby="KabanAuditor" required>
        <span class = "input-group-text">Phone Number</span>
        <input class="form-control" id = "KabanAuditorPhone" name = "KabanAuditorPhone" type="tel" pattern = "[0-9]{11}" aria-describedby="KabanAuditorPhoneNumber">
        <div class="invalid-feedback">
            Kaban Auditor name required.
        </div>
    </div> 
</div>